<section class="welcome home">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <header>
                    <h1>&mdash; Stirling</h1>
                </header>
            </div>
            <div class="col-sm-9">
                <p>
                    Someone very special.<br/><br />
                    Tousled Williamsburg polaroid stumptown cornhole, roof party pug. Lomo quinoa fanny pack deep v. Fanny pack yr gluten-free, umami +1 gentrify raw denim hoodie literally. Put a bird on it craft beer shabby chic Etsy, cliche semiotics butcher wayfarers retro ugh Pitchfork. Thundercats hashtag disrupt, chillwave PBR&B Portland food truck yr Etsy twee banh mi ennui. Schlitz flexitarian kale chips narwhal sriracha, tousled deep v wayfarers. Sartorial PBR raw denim, ugh Portland mixtape Odd Future tousled before they sold out vegan meh.
                </p>
                <br>
                <a href="/about"><p>Find out how <span class="icon icon-arrow-right"></span></p></a>
            </div>
        </div>
    </div>
</section>
<section id="recent-work">
    <div class="container">
        <div class="row">
            <header>
                <div class="col-xs-8 col-sm-10">
                    <h2>&mdash; Selected Projects</h2>
                </div>
                <img src="images/stamp.svg" alt="" id="p53stamp" class="stamp img-responsive" data-no-retina>
            </header>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="project Digital, Beers, Leeds Brewery">
                    <div class="project-image" style="background-image:url(http://i-up.co.uk/i/img/dfb0a34c-f518-4a18-98b1-76e73d29e8ba/leodis.png)"></div>
                    <div class="project-details">
                        <div class="project-details-content">
                            <h2>&mdash; Client</h2>
                            <p>Leeds Brewery</p>
                            <h2>&mdash; Date</h2>
                            <p>2010-14</p>
                            <h2>&mdash; Category</h2>
                            <p>Digital, Beers, Leeds Brewery</p>
                        </div>
                        <div class="visit-project">
                            <a class="btn btn-primary btn-lg" href="/projects/leodis">View project <span class="icon icon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="project Digital, Web Development">
                    <div class="project-image" style="background-image:url(http://i-up.co.uk/i/img/9e21c21e-8e25-4190-a37e-f8cf63943c62/ENCORE.jpg)"></div>
                    <div class="project-details">
                        <div class="project-details-content">
                            <h2>&mdash; Client</h2>
                            <p>Encore</p>
                            <h2>&mdash; Date</h2>
                            <p>2014</p>
                            <h2>&mdash; Category</h2>
                            <p>Digital, Web Development</p>
                        </div>
                        <div class="visit-project">
                            <a class="btn btn-primary btn-lg" href="/projects/encore">View project <span class="icon icon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="project Digital, Web Design">
                    <div class="project-image" style="background-image:url(http://i-up.co.uk/i/img/cadbc649-0226-4a3d-9b9c-4cf28f03503b/seecadets.jpg)"></div>
                    <div class="project-details">
                        <div class="project-details-content">
                            <h2>&mdash; Client</h2>
                            <p>Sea Cadets</p>
                            <h2>&mdash; Date</h2>
                            <p>2012—14</p>
                            <h2>&mdash; Category</h2>
                            <p>Digital, Web Design</p>
                        </div>
                        <div class="visit-project">
                            <a class="btn btn-primary btn-lg" href="/projects/sea-cadets">View project <span class="icon icon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="project Digital, Brand, Identity">
                    <div class="project-image" style="background-image:url(http://i-up.co.uk/i/img/75505e23-4608-413b-a034-b0281e0866f6/grs2.jpg)"></div>
                    <div class="project-details">
                        <div class="project-details-content">
                            <h2>&mdash; Client</h2>
                            <p>GRS Refrigeration</p>
                            <h2>&mdash; Date</h2>
                            <p>2014</p>
                            <h2>&mdash; Category</h2>
                            <p>Digital, Brand, Identity</p>
                        </div>
                        <div class="visit-project">
                            <a class="btn btn-primary btn-lg" href="/projects/grs">View project <span class="icon icon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="project Brand, Digital">
                    <div class="project-image" style="background-image:url(http://i-up.co.uk/i/img/9f20eecb-2057-4c93-8049-f11841f17d37/lb.jpg)"></div>
                    <div class="project-details">
                        <div class="project-details-content">
                            <h2>&mdash; Client</h2>
                            <p>Leeds Brewery</p>
                            <h2>&mdash; Date</h2>
                            <p>2010—2014</p>
                            <h2>&mdash; Category</h2>
                            <p>Brand, Digital</p>
                        </div>
                        <div class="visit-project">
                            <a class="btn btn-primary btn-lg" href="/projects/lb-pubs">View project <span class="icon icon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <a href="/projects">Show all <span class="icon icon-arrow-right"></span></a>
        </div>
    </div>
</section>


<section id="integrate">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <header>
                    <h1>&mdash; Integrate</h1>
                    <p>Helvetica selfies Cosby sweater freegan Truffaut art party, pickled Brooklyn dreamcatcher organic. VHS distillery Pitchfork keffiyeh Pinterest. Shabby chic lo-fi try-hard sustainable American Apparel. Farm-to-table jean shorts Helvetica ethnic, authentic actually meggings cardigan ugh beard. Retro mumblecore distillery single-origin coffee leggings meggings. Kale chips drinking vinegar chambray selvage cred. Carles brunch bicycle rights, wolf High Life scenester typewriter Neutra.</p>
                    <br>
                    <!--<a href="/integrate">Learn more</a>-->
                </header>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <img src="http://i-up.co.uk/i/img/4c53092e-9583-444a-96b8-8be89435842d/integrrateshot.png" class="img-responsive" alt="Integrate" data-at2x="http://i-up.co.uk/i/img/b39e8d3f-63ab-489f-997f-100643db5fb4/integrrateshot@2x.png" />
                <a class="integrate-login" href="http://i.p53.co.uk" rel="nofollow">Log in <span class="icon-arrow-right"></span></a>
            </div>

        </div>
    </div>
</section>